<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="row">
        <div class="col-sm-4 hidden-xs container">
            <p class ="navbar-text pull-left">
                <a href="#/user/{{model.id}}/website" class="navbar-link">
                    <span class = "glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.id}}/website">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.id}}/website/new" class="navbar-link ">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
        <div class="col-sm-8 container">
            <p class ="navbar-text pull-left">
                <a href="#/user/{{model.id}}/website" , class="navbar-link  visible-xs ">
                    <span id="left-website-new"class = "glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.id}}/website">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link  " ng-click="model.updateWebsite(model.result)">
                    <span id="ok-glyphicon-dualpane" class="glyphicon glyphicon-ok "></span>
                </a>
            </p>
        </div>
    </div>
    </div>
</nav>
</div>
<div class="container">

    <div class="row ">
        <div class="col-sm-4 hidden-xs dualScroll">



            <div ng-repeat="website in model.websiteList">
                <ul class="list-inline" ng-model="model.website.websiteName">
                    <a href="#/user/{{model.id}}/website/{{website._id}}/page"> {{website.name}}</a>
                    <a class="pull-right" href="#/user/{{model.id}}/website/{{website._id}}	">
                        <span class="glyphicon glyphicon-cog dualCog"></span>
                    </a>

                </ul>
            </div>

        </div>


        </div>
        <div class="v-line hidden-xs"></div>
        <div class="col-sm-8 col-sm-8 pull-right hidden-xs dualScrollRightPane">
            <div >
                <form>
                    <div class="form-group">
                        <label for="Name2">Website Name</label>
                        <input ng-model="model.result.name" type="text" class="form-control" id="Name2" placeholder="Name" >
                        <label for="Description2">Website Description</label>
                        <textarea ng-model="model.result.description" rows="4" class="form-control " id="Description2" placeholder="Description"></textarea>
                    </div>
                </form>
            </div>
            <div>
            <a class="btn btn-danger  btn-block " ng-click="model.deleteWebsite()"
               href="#/user/{{model.id}}/website">Delete</a>
            </div>

        </div>
    <div class="col-sm-8 col-sm-8 visible-xs">
        <div >
            <form>
                <div class="form-group">
                    <label for="Name">Website Name</label>
                    <input ng-model="model.result.name" type="text" class="form-control" id="Name" placeholder="Name" >
                    <label for="Description">Website Description</label>
                    <textarea ng-model="model.result.description" rows="4" class="form-control " id="Description" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
        <div>
            <a class="btn btn-danger  btn-block " ng-click="model.deleteWebsite()"
               href="">Delete</a>
        </div>

    </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">

        <div class="container">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.id}}" class="navbar-link pull-right"> <span class="glyphicon glyphicon-user"></span></a>
            </p>
        </div>

    </nav>
</div>
