<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div>
            <p class ="navbar-text pull-left">
                <a href="#/user/{{model.id}}/website" class="navbar-link">
                    <span class = "glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" id="Profile "href="#/user/{{model.id}}/website">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/new" class="navbar-link ">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container">

        <div ng-repeat="pages in model.pageList">
        <ul class="list-inline">

            <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{pages._id}}/widget">{{pages.name}} </a>
            <a class="pull-right" href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{pages._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>

        </ul>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.id}}" class="navbar-link pull-right"> <span class="glyphicon glyphicon-user"></span></a>
                </p>
            </div>
        </div>
    </nav>
</div>
