<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div>
            <p class ="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" , class="navbar-link">
                    <span class = "glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" id="Profile "href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container">


        <ul class="list-inline">

            <a ng-click="model.navigateToType('header')" href="">Header </a>
            <a class="pull-right" href="">
            </a>

        </ul>
        <ul class="list-inline">

            <a href="">Label</a>
            <a class="pull-right" href="#">
            </a>

        </ul>

        <ul class="list-inline">

            <a href="">Text Input App</a>
            <a class="pull-right" href="#">
            </a>

        </ul>
        <ul class="list-inline">

            <a href="">Link</a>
            <a class="pull-right" href="#">
            </a>
        </ul>

        <ul class="list-inline">

            <a href="">Button</a>
            <a class="pull-right" href="#">
            </a>
        </ul>

        <ul class="list-inline">

            <a href="" ng-click="model.navigateToType('image')">Image</a>
            <a class="pull-right" href="#">
            </a>
        </ul>

        <ul class="list-inline">

            <a href="" ng-click="model.navigateToType('youtube')">YouTube</a>
            <a class="pull-right" href="#">
            </a>
        </ul>

        <ul class="list-inline">

            <a href="">Data table</a>
            <a class="pull-right" href="#">
            </a>
        </ul>

        <ul class="list-inline">

            <a href="">Repeater</a>
            <a class="pull-right" href="#">
            </a>
        </ul>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="navbar-link pull-right"> <span class="glyphicon glyphicon-user"></span></a>
            </p>
        </div>
    </div>
</nav>
