<div class="container wam-sortable" id="widgetList">
    <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets | orderBy : 'order' " >
        <div class=" pull-right list-element-menu zero-right-padding">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}" ><span class="glyphicon glyphicon-cog"></span></a>
            <a href=""><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        </div>
        <!-- <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}" class="pull-right"><span class="glyphicon glyphicon-cog" ></span></a>-->
        <div ng-switch="widget.size" ng-switch-when="HEADER">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
            <h1 ng-switch-default>{{widget.text}}</h1>
        </div>
        <div ng-switch-when="YOUTUBE">
            <iframe width="{{widget.width}}" height="315" ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-switch-when="IMAGE">
            <img width="{{widget.width}}" ng-src="{{model.checkSafeImage(widget.url)}}">
        </div>
        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)"></div>
    </div>
</div>